/* all of my header css ⬇️ */
header {
    background-color: rgb(207, 177, 205);
    display: flex;
    justify-content: space-between;
    border: 2px;
    border-color: black;
    border-style: double;
}

.nav {
    padding: 20px;
    color: black;
    font-style: normal;
    font-family: "Lucida Console", "Courier New", monospace;
}

.main {
    display: flex;
    align-items: flex-end;
}

.myp {
    padding-left: 50px;
    font-family: "OCR A Std", monospace;
    display: flex;
    align-items: flex-end;
}

/* all of my footer css ⬇️ */
/* footer {
    position: absolute;
    bottom: 20px;
    left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;


} */

.resume{
    border: 2px;
    border-color: black;
    border-style: double;
    padding: 20px;
}
.about{
    border: 2px;
    border-color: black;
    border-style: double;
    padding: 40px;
}
.contact{
    border: 2px;
    border-color: black;
    border-style: double;
    width: 300px; 
}
.conflex{
    display: flex;
    justify-content: center;
    padding: 200px;
}
.img{
    width: 400px;
    height: 400px;
    padding: 40px;
    display: flex;

}
.cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}